*{
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
 
}
.ticket-img{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
.img{
  margin: 10px 0;
  border: 3px solid black;
  border-radius: 5px;
  overflow:hidden; 
  transition: .3s;
}

.img:hover{
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4), 0 1px 0px rgba(0, 0, 0, 0.1)  
}

